{% extends 'base.html' %}

{% load static %}
{% load custom_filter %}

{% block title %}CM-MT{% endblock title %}

{% block header %}
{% include 'partials/alt_header.html' %}
{% endblock header %}

{% block body %}
<div class="container-flex main__div">
    <section class="home section" id="cmmt-home">
        <div class="home__container cmmt__container container grid">
            <div class="home__content grid pt-0">
                <div class="home__data cmmt__data mb-5">
                    <h2 class="home__title mb-5">
                        Code-Mixed Machine Translation
                    </h2>
                    <div class="cmmt-input" id="cmmt-input">
                        <form id="cmmt-form" action="{% url 'cmmt:translate-text' %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cmmt-text" name="cmmt-text"
                                        placeholder="Type your hinglish text here..." />
                                </div>
                            </div>
                            <p class="mt-3 mb-0" id="cmmt-p">
                                Enter text in Hinglish, expected result might not be 100% correct :-). <br><br>
                                You may select an example from below by simply selecting the text <br> and hitting the submit button:<br><br>
                                <li class="cmmt-example" id="cmmt-example">miami se west palm tak kitni der lagegi</li>
                                <li class="cmmt-example" id="cmmt-example">me tumse pyaar kartha hu</li>
                                <li class="cmmt-example" id="cmmt-example">har ghante ke liye alarm set kare</li>
                                <li class="cmmt-example" id="cmmt-example">alarm ko abhi stop kare</li>
                            </p>
                            <div id="cmmt-display-message"></div>
                            {% if show_result %}
                            <div class="cmmt__result mt-5" id="cmmt__result">
                                <div class="container cmmt__result__container">
                                    <h5>Translation:&nbsp;&nbsp;&nbsp;&nbsp;<i>{{translation}}</i></h5>
                                </div>
                            </div>
                            {% endif %}
                            <a class="button button--flex cmmt-submit mt-5" id="cmmt-submit">
                                Translate
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about section pt-3" id="cmmt-about">
        <span class="section__subtitle"></span>
        <div class="about__container cmmt__container container">
            <div class="about__data cmmt__title">
                <h3 class="mb-4">
                    About the project
                </h3>
                <p class="about__description">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Machine translation is a rapidly evolving field in
                    Natural Language Processing (NLP) with applications ranging from
                    improving cross-lingual communication to assisting global business operations. In this project, we
                    address the complex
                    challenge of translating code-mixed language text. Our aim is to develop a robust system that can
                    accurately translate
                    mixed language text (Spanglish and Hinglish) into English, recognizing the nuances of language
                    switching within a
                    sentence. With bilingualism being a significant aspect of our lives, this project has a
                    practical relevance that extends beyond the research realm. Moreover, this work serves as a proof of
                    concept,
                    potentially paving the way for enhanced mixed language translation in various applications. The
                    following
                    are the tasks performed under this project (still under development and tested on a subset of data):
                <ul style="text-align: left;">
                    <li>Curated dataset for this task. Currently, I am working on adding other languages to our bucket
                        as well.</li>
                    <li>Devised a comprehensive end-to-end module that address the task of machine translation for
                        Hinglish. Following this, I will be adding support for multi-lingual translation as well.</li>
                </ul>
                <br>
                </p>
                <div class="about__buttons">
                    <a href="https://github.com/NikhilKamathB/Code-Mixed-Machine-Translation" target="_blank"
                        class="button button--flex">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- scroll top  -->
{% include 'partials/scrollup.html' %}
<!-- end scroll top -->

<!-- contact me -->
{% include 'partials/contactme.html' %}
<!-- end contact me -->

{% endblock body %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}