<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Nikhil</h1>
                <span class="footer__subtitle">AI Engineer</span>
            </div>
            <ul class="footer__links">
                <li>
                    <a href="#home" class="footer__link">Home</a>
                </li>
                <li>
                    <a href="#about" class="footer__link">About</a>
                </li>
                <li>
                    <a href="#skills" class="footer__link">Skills</a>
                </li>
            </ul>
            <ul class="footer__links">
                <li>
                    <a href="#qualification" class="footer__link">Qualification</a>
                </li>
                <li>
                    <a href="#project" class="footer__link">Projects</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contact Me</a>
                </li>
            </ul>
        </div>
        <p class="footer__copy">&#169; NKB | Ref -  Bedimcode</p>
    </div>
</footer>