<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Nikhil Bola Kamath</h1>
                <span class="footer__subtitle">MSCS | USC</span><br>
                <span class="footer__subtitle">Contact me @ nikhilbolakamath@gmail.com</span>
            </div>
            <ul class="footer__links">
                <li>
                    <a href="{% url 'home:home' %}#home" class="footer__link">Home</a>
                </li>
                <li>
                    <a href="{% url 'home:home' %}#about" class="footer__link">About</a>
                </li>
            </ul>
            <ul class="footer__links">
                <li>
                    <a href="{% url 'home:home' %}#qualification" class="footer__link">Qualification</a>
                </li>
                <li>
                    <a href="{% url 'home:home' %}#project" class="footer__link">Projects</a>
                </li>
            </ul>
        </div>
        <p class="footer__copy">&#169; NBK | Ref -  <a href="https://youtu.be/27JtRAI3QO8" target="_blank" style="color: inherit;">Bedimcode</a></p>
    </div>
</footer>