Django==4.0.2
gunicorn==20.1.0
django-storages==1.12.3
djangorestframework==3.13.1
django-import-export==2.7.1
dj-rest-auth==2.2.3
django-rest-auth==0.9.5
django-rest-auth[with_social]
uritemplate==4.1.1
swagger-ui==0.1.2
requests==2.27.1
django-summernote==0.8.20.0
django-cors-headers==3.11.0
python-dotenv==0.19.2
Pillow==9.0.1
fabric==2.6.0
invoke==1.6.0
psycopg2-binary