{% extends 'base.html' %}

{% load static %}
{% load custom_filter %}

{% block title %}SDC{% endblock title %}

{% block header %}
{% include 'partials/alt_header.html' %}
{% endblock header %}

{% block body %}
<div class="container-flex main__div">
    <section class="home section" id="ancc-home">
        <div class="home__container acnn_container container grid">
            <div class="home__content grid pt-0">
                <div class="home__data mt-5">
                    <h2 class="home__title mb-0">
                        Actor-Critic Neural Network Modeling
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="about section" id="acnn-about">
        <span class="section__subtitle"></span>
        <div class="about__container acnn_container container">
            <div class="about__data">
                <h3 class="mb-4">
                    About the project
                </h3>
                <p class="about__description">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training deep neural networks, such as transformers, deep vision models, etc. from scratch with sufficient data is undeniably expensive in terms of time and resources. However, the necessity of this level of depth can be questioned, especially when aiming to deploy models in real-time applications where low latency is crucial. To make deep networks usable for real-time scenarios, researchers have explored various approaches to reduce the computational burden. This repository aims to propose a hypothetical approach (Konwledge Distillation) that enables modeling shallow neural networks by guided gradient descent to achieve performance similar to that of deep networks for a given task. Note: This is just an experiment.
                    <ul style="text-align: left;">
                        <li>To initiate the process, scripts for data generation and the implementation of a neural network from scratch have been developed, adhering to the PyTorch nn framework.</li>
                        <li>At present, efforts are directed towards the exploration of belief networks and neuron-centric gradient computation. The goal is to discern the most suitable and accurate descent on the error hyperplane by drawing insights from the experience of deep neural networks.</li>
                    </ul>
                    <br>
                    <br>
                </p>
                <div class="about__buttons">
                    <a href="https://github.com/NikhilKamathB/Actor-Critic-Neural-Network-Modeling" target="_blank" class="button button--flex">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- scroll top  -->
{% include 'partials/scrollup.html' %}
<!-- end scroll top -->

{% endblock body %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}